@media all and (min-width: 760px) {
    div#header {
        border: 3px solid purple;
        background-color: lightgrey;
    }
    div#wrapper {
        border: 3px solid orangered;
    }
    div#footer .box {
        border: 3px solid orangered;
    }
    div#smallFooter {
        border: 3px solid orangered;
    }
    /* This section is going to be tricky.  Need to review how the RMUs are managed.  Maybe we can swap out for simpler feature images */
    div#container {
        outline: 1px solid red;
    }
    /* Review how these are added.  Are they dynamic or fairly static */
    div.genericESpot {
        outline: 1px solid yellow;
    }
}


@media all and (max-width: 760px) {
    div#header {
        max-width: 980px;
        width: initial;
        height: initial;
    }
    div#headerTop {
        border: 1px solid red;
        width:  initial;
    }
    #header .search {
        width: initial;
    }
    div.newHeaderBox {
        height: initial;
    }
    div#headerMiddle {
        height: initial;
    }
    div#wrapper {
        display: none;
    }
    div#footer {
        display: none;
    }
    div#smallFooter {
        display: none;
    }
    .newHeaderBox .newNavigationBar li {
        display: block;
        float: none;
    }
    img.bjsFtSprit.bjsTopnav {
        display: none;
    }
    .newHeaderBox .newNavigationBar li {
        float: none;
        width: 100%;
    }
    .newHeaderBox .newNavigationBar li a {
        float: none;
    }
    div.newNavigationBar.travel-services.travel-services {
        display: none;
    }
    ul.newNavigationBar.selectFree {
        width: 100%;
    }
}
